<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="meta.css">
    <meta charset="utf-8"> 
  </head>
  <body>
    <h1>Learner guides</h1>
          <table>
            <thead>
              <tr><td>Title</td><td>ID</td><td>Author</td><td>Modified</td></tr>
            </thead>
            <tbody>
              <% @list.each do |item| %>
                <tr><td><a href="<%= item[:url] %>"><%= item[:title] %></a></td><td><a href="<%= item[:url] %>"><%= item[:fileId] %></a></td><td><a href="<%= item[:emailUrl] %>"><%= item[:name] %></a></td><td><%= item[:modified] %></td></tr>
              <% end %>
            </tbody>
</table>
            </body>
            </html>
            
